@import "../../scss/index.scss";

.results {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    &-heart {
      margin: 0;
      display: flex;
      align-items: center;
      &_icon {
        height: 25px;
        width: auto;
        margin-left: 20px;
        margin-right: 5px;
        color: $type-fire;
      }
    }
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  columns: 2;
}
@media screen and (min-width: $breakpoint-tablet) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    columns: 3;
  }
}
